<html>

<head>
    <title>Multiplayer Game</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2.4.0/dist/umd/popper.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.js"></script>

    <script src="/extra.js"></script>
</head>

<body>
    <canvas id="game" style="position: absolute;"></canvas>

    <div id="game_over" style="display: none;">
        <h1 align="center" style="width: 250; height: 50; color: #000000;">Game Over</h1>
        <div style="position: absolute; background: #808080; opacity: 0.5; width: 100%; height: 100%;"></div>
    </div>

    <script>
        resize()

        var xp = 0
        var level = 1

        var players = []
        var bullets = []

        var center_x = width / 2
        var center_y = height / 2

        var width = window.innerWidth
        var height = window.innerHeight

        var size = [1000, 1000]

        var offset_x = -Math.random() * 1000
        var offset_y = -Math.random() * 1000

        var up = false
        var down = false
        var left = false
        var right = false
        var direction = 0

        var speed = 1
        var max_speed = 2
        var shooting = false

        var hp = 1

        var dx = 0
        var dy = 0

        var canvas = $('#game')[0].getContext('2d')

        $(window).resize(resize)

        setInterval(() => {
            $.post(
                '/Multiplayer Game/{{room_id}}/update',
                {
                    x: offset_x,
                    y: offset_y,

                    up: up,
                    down: down,
                    left: left,
                    right: right,
                    direction: direction,

                    player_id: '{{player_id}}'
                }, (data) => {
                    if (data['error']) {
                        if (data['error'] == 'No such player') location.reload()
                        if (data['error'] == 'No such room') location.href = '/Multiplayer Game'
                    }

                    hp = data['hp']
                    players = data['players']
                    bullets = data['bullets']
                })
            if (shooting) $.post('/Multiplayer Game/{{room_id}}/shoot', { player_id: '{{player_id}}' })
        }, 100)

        setInterval(() => {
            var opc_x = offset_x + center_x
            var opc_y = offset_y + center_y

            canvas.fillStyle = '#808080'
            canvas.fillRect(0, 0, width, height)

            canvas.beginPath()
            canvas.fillStyle = '#ffffff'
            canvas.rect(opc_x, opc_y, size[0], size[1])
            canvas.fill()
            canvas.stroke()
            canvas.closePath()

            for (var i = 0; i < bullets.length; i++) {
                draw_bullet(
                    bullets[i].id,
                    opc_x + bullets[i].x,
                    opc_y + bullets[i].y
                )
            }

            for (var i = 0; i < players.length; i++) {
                var player = players[i]

                draw_player(
                    player.direction,
                    opc_x + player.x,
                    opc_y + player.y,
                    player.hp,
                    '#ff0000'
                )
            }

            if (hp <= 0) {
                $('#map').hide()
                $('#game_over').show()
            } else {
                draw_player(
                    direction,
                    center_x,
                    center_y,
                    hp
                )
            }

            offset_x += dx
            offset_y += dy

            if (dx != 0) dx > 0 ? dx -= speed : dx += speed
            if (dy != 0) dy > 0 ? dy -= speed : dy += speed

            if (up) dy < max_speed ? dy += speed : dy = max_speed
            if (down) dy > -max_speed ? dy -= speed : dy = max_speed
            if (left) dx < max_speed ? dx += speed : dx = max_speed
            if (right) dx > -max_speed ? dx -= speed : dx = max_speed


            if (offset_x > -10) offset_x = -10
            if (offset_y > -10) offset_y = -10
            if (offset_x < -990) offset_x = -990
            if (offset_y < -990) offset_y = -990
        }, 60 / 1000)

        function draw_bullet(id, x, y) {
            if (id == "{{player_id}}") {
                canvas.fillStyle = '#0000ff'
            } else {
                canvas.fillStyle = '#ff0000'
            }

            canvas.beginPath()
            canvas.arc(x, y, 5, 0, Math.PI * 2)
            canvas.fill()
            canvas.stroke()
            canvas.closePath()
        }

        function draw_player(direction, x, y, hp, color) {
            direction = Math.radian(direction)
            color = color || '#0000ff'

            canvas.beginPath()
            canvas.fillStyle = '#808080'

            var new_x = x - 5 * Math.cos(direction - Math.radian(90))
            var new_y = y - 5 * Math.sin(direction - Math.radian(90))
            canvas.moveTo(new_x, new_y)

            new_x += 10 * Math.cos(direction - Math.radian(90))
            new_y += 10 * Math.sin(direction - Math.radian(90))
            canvas.lineTo(new_x, new_y)

            new_x += 20 * Math.cos(direction + Math.radian(0))
            new_y += + 20 * Math.sin(direction + Math.radian(0))
            canvas.lineTo(new_x, new_y)

            new_x += 10 * Math.cos(direction + Math.radian(90))
            new_y += + 10 * Math.sin(direction + Math.radian(90))
            canvas.lineTo(new_x, new_y)

            new_x = x - 5 * Math.cos(direction - Math.radian(90))
            new_y = y - 5 * Math.sin(direction - Math.radian(90))
            canvas.lineTo(x - 5 * Math.cos(direction - Math.radian(90)), y - 5 * Math.sin(direction - Math.radian(90)))
            canvas.fill()
            canvas.stroke()

            canvas.beginPath()
            canvas.fillStyle = color
            canvas.arc(x, y, 10, 0, Math.PI * 2)
            canvas.fill()
            canvas.stroke()
            canvas.closePath()

            if (hp != 1) {
                canvas.fillStyle = '#ff0000'
                canvas.fillRect(x - 15, y + 25, 30 * hp, 5)
            }
        }

        function resize() {
            $('h1').center()

            width = $(window).width()
            height = $(window).height()
            $('#game').attr('width', width)
            $('#game').attr('height', height)

            canvas = $('#game')[0].getContext('2d')

            center_x = width / 2
            center_y = height / 2
        }

        $('body').mousemove((mouse) => {
            var distance_x = mouse.pageX - center_x
            var distance_y = mouse.pageY - center_y
            direction = Math.degree(Math.atan(distance_y / distance_x))
            if (distance_x < 0) direction += 180
        }).mousedown((mouse) => {
            shooting = true
        }).mouseup((mouse) => {
            shooting = false
        }).keydown((event) => {
            if (event.keyCode == 32) shooting = true
            if (event.keyCode == 87 || event.keyCode == 38) up = true
            if (event.keyCode == 83 || event.keyCode == 40) down = true
            if (event.keyCode == 65 || event.keyCode == 37) left = true
            if (event.keyCode == 68 || event.keyCode == 39) right = true
        }).keyup((event) => {
            if (event.keyCode == 32) shooting = false
            if (event.keyCode == 87 || event.keyCode == 38) up = false
            if (event.keyCode == 83 || event.keyCode == 40) down = false
            if (event.keyCode == 65 || event.keyCode == 37) left = false
            if (event.keyCode == 68 || event.keyCode == 39) right = false
        })
    </script>
</body>
    
</html>
