<html>

<head>
    <title>Multiplayer Game</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="HandheldFriendly" content="true" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://unpkg.com/@popperjs/core@2.4.0/dist/umd/popper.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.js"></script>

    <script src="/extra.js"></script>
</head>

<body>
    <div style="width: 400;">
        <h1 style="width: 100%;" align="center">Multiplayer Game</h1>
        <a href="/Multiplayer Game/create"><button style="width: 100%;" class="btn btn-primary">Create Room</button></a>
        <a href="/Multiplayer Game/room"><button style="width: 100%;" class="btn btn-primary">Join Room</button></a>
    </div>

    <script>
        $('div').center()

        $(window).resize(() => {
            $('div').center()
        })
    </script>

    {% if page == 'display' or page == 'create' %}
    <script>
        if (is_mobile()) $('body').append(
            '<a href="/Multiplayer Game" style="position: absolute; top: 5; left: 5;">' +
            '<button class="btn btn-primary" style="width: 75;">Home</button>' +
            '</a>'
        )
    </script>
    {% endif %}
</body>

</html>